# Virtual environments
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml